Flask==3.0.2
absl-py
astunparse
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
flatbuffers
fonttools
gast
git-filter-repo
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
gunicorn
h5py
idna
itsdangerous
jax
jaxlib
Jinja2
joblib
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
namex
numpy>=1.22.4 # Klíčová změna: bez Omezení numpy
oauthlib
opt_einsum
optree
packaging
pandas
pillow
protobuf
pyasn1
pyasn1_modules
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
rich
rsa
scikit-learn
scipy # Klíčová změna: bez Omezení scipy
six
SQLAlchemy
tensorflow
tensorflow-io-gcs-filesystem
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
tf-estimator-nightly
threadpoolctl
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
wheel
setuptools
google-cloud-storage
google-cloud-error-reporting
statsmodels
ta>=0.10.0